doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  meta(name='description' content='Helping to lead a healthier life')
  meta(name='keywords' content='health, fitness, diet')
  meta(name='author' content='Varsha Achar')
  title Fitbit App | About Us
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
header
  .container
    #branding
      h1  FITBIT APP
    nav
      ul
        li
          a(href='homepage.pug')  HOME
        li
          a(href='fitness.pug')  FITNESS
        li
          a(href='homepage.pug')  FOOD
        li
          span(onclick='openNav()')  MORE
section#main
  .container
    #main-col
      h1.page-title About Us
      #profiles
        .profile-card
          #avatar
            // here’s the avatar
            img(src='/images/Varsha.jpg')
            // the username
            h1 Varsha Achar
            // and role or location
            h2 - Full Stack Web Developer -
          // bit of a bio; who are you?
          .profile-bio
            p Hello there!
            p
              | I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              br
              | I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
          // some social links to show off
          ul.profile-social-links
            // twitter - el clásico
            li
              a(href='https://twitter.com/tutsplus')
                img(src='/images/github.svg')
            // envato – use this one to link to your marketplace profile
            li
              a(href='https://facebook.com')
                img(src='/images/facebook.svg')
            // codepen - your codepen profile
            li
              a(href='https://instagram.com')
                img(src='/images/instagram.svg')
            // add or remove social profiles as you see fit
        .profile-card
          #avatar
            // here’s the avatar
            img(src='/images/Payton.jpg')
            // the username
            h1 Payton Hauck
            // and role or location
            h2 - Full Stack Web Developer -
          // bit of a bio; who are you?
          .profile-bio
            p Hello there!
            p
              | I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              br
              | I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
          // some social links to show off
          ul.profile-social-links
            // twitter - el clásico
            li
              a(href='https://twitter.com/tutsplus')
                img(src='/images/github.svg')
            // envato – use this one to link to your marketplace profile
            li
              a(href='https://facebook.com')
                img(src='/images/facebook.svg')
            // codepen - your codepen profile
            li
              a(href='https://instagram.com')
                img(src='/images/instagram.svg')
            // add or remove social profiles as you see fit
        .profile-card
          #avatar
            // here’s the avatar
            img(src='/images/Justin.jpg')
            // the username
            h1 Lingwen Kong
            // and role or location
            h2 - Full Stack Web Developer -
          // bit of a bio; who are you?
          .profile-bio
            p Hello there!
            p
              | I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              br
              | I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
          // some social links to show off
          ul.profile-social-links
            // twitter - el clásico
            li
              a(href='https://twitter.com/tutsplus')
                img(src='/images/github.svg')
            // envato – use this one to link to your marketplace profile
            li
              a(href='https://facebook.com')
                img(src='/images/facebook.svg')
            // codepen - your codepen profile
            li
              a(href='https://instagram.com')
                img(src='/images/instagram.svg')
            // add or remove social profiles as you see fit
        .profile-card
          #avatar
            // here’s the avatar
            img(src='/images/Agustin.jpg')
            // the username
            h1 Agustin Vasquez
            // and role or location
            h2 - Full Stack Web Developer -
          // bit of a bio; who are you?
          .profile-bio
            p Hello there!
            p
              | I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              br
              | I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
          // some social links to show off
          ul.profile-social-links
            // twitter - el clásico
            li
              a(href='https://twitter.com/tutsplus')
                img(src='/images/github.svg')
            // envato – use this one to link to your marketplace profile
            li
              a(href='https://facebook.com')
                img(src='/images/facebook.svg')
            // codepen - your codepen profile
            li
              a(href='https://instagram.com')
                img(src='/images/instagram.svg')
            // add or remove social profiles as you see fit
script.
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  }
footer
  p  Fitbit App Copyright &copy; 2017