doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  meta(name='description' content='Helping to lead a healthier life')
  meta(name='keywords' content='health, fitness, diet')
  meta(name='author' content='Varsha Achar')
  title Be Fit, BU | Message
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='shortcut icon' href='/images/favicon.ico')

header
  .container
    #branding
      img(src='/images/logo.jpg')
      h1 Be Fit, BU
    nav
      ul
        li
          a(href='/')  LOGIN
        li
          a(href='signup')  SIGN UP

section#login
  .container
    h3 #{message}
    h2 Now, we need your location*
    button#locbtn(onclick='getLocation()') Get Location
    form(method='post' action="/homepage" align='center')
        input#contbtn.btn.btn-primary(type='submit' value='CONTINUE')
    p *If you choose not to provide location, default location will be set to Boston.

script.
  function getLocation() {
  if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(sendPosition);
  }
  }
  function sendPosition(position) {
    console.log(position.coords.latitude);
    $.post('/homepage', { latitude: position.coords.latitude, longitude: position.coords.longitude })
   }
footer
  p  Be Fit, BU Copyright &copy; 2018

