doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  meta(name='description' content='Helping to lead a healthier life')
  meta(name='keywords' content='health, fitness, diet')
  meta(name='author' content='Varsha Achar')
  title Fitbit App | Homepage
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
header
  .container
    #branding
      h1  FITBIT APP
    nav
      ul
        li
          a(href='homepage.pug')  HOME
        li
          a(href='fitness.pug')  FITNESS
        li
          a(href='homepage.pug')  FOOD
        li
          span(onclick='openNav()')  MORE
section#showcase
  .container
    h1  WELCOME!
    p  We care about your fitness, so we monitor your daily progress.
    p  Temperature: #{temp}, #{desc}
#mySidenav.sidenav
  a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
  a(href='#') Profile
  a(href='#') Update
  a(href='#') Logout
  a(href='/about') Contact Us
script.
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  }
footer
  p  Fitbit App Copyright &copy; 2017
