

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  meta(name='description' content='Helping to lead a healthier life')
  meta(name='keywords' content='health, fitness, diet')
  meta(name='author' content='Varsha Achar')
  title Be Fit, BU | Login
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='shortcut icon' href='/images/favicon.ico')

header
  .container
    #branding
      img(src='/images/logo.jpg')
      h1 Be Fit, BU
    nav
      ul
        li
          a(href='signup')  No account? SIGN UP!
section#login
  .container
    h1  First, login with Be Fit, BU
    #inputs.form-group
      form(method='post' action="/fitbit" align='center')
        p
          | E-mail:
          input#inputbox.form-control(type='email' name='email' placeholder='Enter email address' required='')
        p
          | Password:
          input#inputbox.form-control(type='password' name='password' placeholder='Enter password' required='')
        #spacer
        input#loginbtn.btn.btn-primary(type='submit' value='Next')
        #spacer
footer
  p  Be Fit, BU Copyright &copy; 2018




